:root {
  min-height: 100vh;
  min-width: 100vw;
}

.navBar {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(163, 178, 190);
}

.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.navBarlogo {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 1rem;
}

.mainPageLogo {
  height: 15rem;
  width: 15rem;
}

.welcomeTitle {
  font-size: 8rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.descriptionText {
  font-size: 2rem;
}

.link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 15px;
  padding: 0.5rem;
  transition: 0.5s ease-in-out;
}

.ComplaintsTableLink {
  background-color: aquamarine;
  color: rgb(71, 124, 71);
}

.ComplaintsTableLink:hover {
  background-color: rgb(18, 211, 147);
  color: aliceblue;
  transform: scale(1.05);
}

.AdminLoginPageLink {
  background-color: red;
  color: rgb(241, 199, 9);
}

.AdminLoginPageLink:hover {
  background-color: rgb(241, 199, 9);
  color: red;
  transform: scale(1.05);
}